body {
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.cursor-pointer {
  cursor: pointer;
}

.App {
  flex-wrap: wrap;
}

.col-xs-12,
col-sm-12,
col-md-6,
col-lg-4 {
  border: 5px solid #f9f8fd !important;
}
